div.container {
    max-width: 80rem; /* Use rem for scalability */
    margin: 0 auto;
    /* background-color: rgb(213, 221, 221); */
}

header {
    text-align: center;
    /* background-color: #8f8; */
}

section {
    max-width: 40em;
    margin: 0 auto ;
}

h1 {
    margin: auto;
    display: grid;
    grid-template-columns: 1/3;
    width: 10em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 1.25rem; /* Use rem for scalability */
}


a {
    font-family: "joly-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #313C1B;
}

a:hover {
    color: #AFC69A;
}

.teaser {
    margin-bottom: 1.5rem; 
}

h2, h3 {
    font-family: "joly-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #313C1B;
    font-size: 1.7rem;
    line-height: 1.2;
    margin-bottom: 0.2rem;
}

figure {
    margin: auto;
}

img {
    width: 100%;
    padding-top: 1rem;
}

figcaption {
    font-family: "indivisible", sans-serif;
    font-weight: 400;
    font-style: italic;
}
p {
    font-family: "indivisible", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0F170D;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 0rem;
    margin-bottom: 1rem;
    
}

footer {
    position: relative;
    text-align: left;
    font-weight: 400;
    font-style: italic;
    font-family: "indivisible", sans-serif;
}

/*---gallery----*/

main.photogallery {
    position: relative;
    overflow: hidden;
    max-width: 80em;
    grid-column: 1/3;
    padding-bottom: calc(70% + 3em);
}

main.photogallery input {
    display: none;
}

figure.photogallery {
    margin: 0;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

input:nth-of-type(1):checked ~ figure.photogallery:nth-of-type(1),
input:nth-of-type(2):checked ~ figure.photogallery:nth-of-type(2),
input:nth-of-type(3):checked ~ figure.photogallery:nth-of-type(3),
input:nth-of-type(4):checked ~ figure.photogallery:nth-of-type(4),
input:nth-of-type(5):checked ~ figure.photogallery:nth-of-type(5),
input:nth-of-type(6):checked ~ figure.photogallery:nth-of-type(6),
input:nth-of-type(7):checked ~ figure.photogallery:nth-of-type(7),
input:nth-of-type(8):checked ~ figure.photogallery:nth-of-type(8){
    opacity: 1;
}

nav.photogallery {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 0.2em;
    max-width: 80em;
    grid-column: 1/3;
}

img.photogallery {
    width: 100%;
}

/*--newletter------*/
div.newsletter{
    max-width: 60em;
    margin: auto;
}

form.subscribe{
    grid-row: 1/4;
    grid-column: 1/4;
}

section.personalInfo{
    margin: 0;
}

section.personalInfo{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2em; 
}

section.personalInfo ul li input[type="text"],
section ul li input[type="email"],
section ul li select {
	flex: 0.3 0 10em;
	box-sizing: border-box;
}

section.personalInfo ul li label{
    flex:  0 0 5em;
    font-family: "indivisible", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section.preferences ul li label{
    flex:  0 0 5em;
    font-family: "indivisible", sans-serif;
    font-weight: 400;
    font-style: normal;
}


section.preferences{
    margin: 0;
    padding-bottom: 1em;
}

section.questions{
    margin:0;
    font-family: "joly-display", sans-serif;
    font-weight: 700;
    font-style: normal;
}

section.enter{
    margin: 1em 0 2em 0;
}

ul.nameEmail{
    list-style: none;
    padding-left: 0; 
    margin-right: 20rem; 
    margin-bottom: 0rem;
    font-family: "indivisible", sans-serif;
    font-weight: 400;
    font-style: normal;
}

textarea{
    box-sizing: border-box;
    display: flex;
    width: 47%;
    padding-bottom: 2em;
    font-family: "indivisible", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button{
    margin-top: 2em;
}

form.subscribe h2 h3{
    font-family: "joly-display", sans-serif;
    font-weight: 700;
    font-style: normal;
}


form.subscribe h3{
    font-size: 1em; 
}


@media screen and (min-width: 60em){
    div.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 0 1em;
    
     }
    header {
        grid-column:1/3;
    }
    main {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 0 1em;
    }
    section.mainstory{
    grid-column: 2/4;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    grid-gap:0 1em
    }
    section.mainstory a{
        flex: 1 0 10em;
        display: flex;
        flex-direction: column;
    }
    section.mainstory a figure{
        flex: 1 0 10em;
    }
    section.mainstory a h3{
        flex: 0 0 auto;
        margin: 0;

    }section.mainstory a p{
        flex: 0 0 auto;
        margin: 0;
    }
    section.mainstory a figure img{
        height: 95%;
    }
    h1{
        width: 20em;
    }
}

